template.yaml
AWSTemplateFormatVersion: "2010-09-09"
Transform: AWS::Serverless-2016-10-31

Description: >
  未承認リソース自動削除システム（汎用版）
  Resource Groups Tagging API を使い、あらゆる AWS サービスに対応。
  EventBridge → Detector Lambda → Step Functions (通知→待機→再チェック→削除)

# ─────────────────────────────────────────────
# パラメータ
# ─────────────────────────────────────────────
Parameters:
  RequiredTags:
    Type: String
    Default: "Env,Owner,Project"
    Description: 必須タグキー（カンマ区切り）

  DeleteDelaySeconds:
    Type: Number
    Default: 604800
    Description: >
      検知後、削除承認メールを送るまでの待機秒数。
      デフォルト7日（604800秒）。SSM Parameter Store から再デプロイなしで変更可能。
      金曜検知でも翌週に余裕を持って対応できるよう1週間を推奨。

  DryRun:
    Type: String
    Default: "true"
    AllowedValues: ["true", "false"]
    Description: "true の場合は削除せず通知のみ"

  NotificationEmail:
    Type: String
    Description: SNS通知先メールアドレス（カンマ区切りで複数指定可）

  VpcId:
    Type: AWS::EC2::VPC::Id
    Description: 隔離用セキュリティグループを作成するVPC ID

# ─────────────────────────────────────────────
# グローバル設定
# ─────────────────────────────────────────────
Globals:
  Function:
    Runtime: python3.12
    MemorySize: 128
    Environment:
      Variables:
        REQUIRED_TAGS: !Ref RequiredTags

# ─────────────────────────────────────────────
# リソース
# ─────────────────────────────────────────────
Resources:

  # ── SNS ────────────────────────────────────
  AlertTopic:
    Type: AWS::SNS::Topic
    Properties:
      TopicName: !Sub "${AWS::StackName}-alert"
      Subscription:
        - Protocol: email
          Endpoint: !Ref NotificationEmail

  # ── IAM Role（Lambda共通）──────────────────
  LambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-lambda-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: AutoDeletePolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action: [tag:GetResources]
                Resource: "*"
              - Effect: Allow
                Action: [states:StartExecution]
                Resource: !Sub "arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:${AWS::StackName}-auto-delete"
              - Effect: Allow
                Action: [sns:Publish, sns:DeleteTopic]
                Resource: "*"
              - Effect: Allow
                Action: [ec2:DescribeTags, ec2:TerminateInstances]
                Resource: "*"
              - Effect: Allow
                Action: [rds:DescribeDBInstances, rds:ListTagsForResource, rds:DeleteDBInstance]
                Resource: "*"
              - Effect: Allow
                Action: [s3:GetBucketTagging, s3:ListBucket, s3:ListBucketVersions, s3:DeleteObject, s3:DeleteObjectVersion, s3:DeleteBucket]
                Resource: "*"
              - Effect: Allow
                Action: [lambda:GetFunction, lambda:DeleteFunction]
                Resource: "*"
              - Effect: Allow
                Action: [dynamodb:DescribeTable, dynamodb:DeleteTable]
                Resource: "*"
              - Effect: Allow
                Action: [ecs:UpdateService, ecs:DeleteService, ecs:DeleteCluster]
                Resource: "*"
              - Effect: Allow
                Action: [sqs:GetQueueUrl, sqs:DeleteQueue]
                Resource: "*"
              - Effect: Allow
                Action: [eks:DeleteCluster]
                Resource: "*"
              - Effect: Allow
                Action: [kinesis:DeleteStream]
                Resource: "*"
              - Effect: Allow
                Action: [elasticache:DeleteReplicationGroup]
                Resource: "*"
              - Effect: Allow
                Action: [es:DeleteElasticsearchDomain]
                Resource: "*"
              - Effect: Allow
                Action: [glue:DeleteDatabase]
                Resource: "*"
              - Effect: Allow
                Action: [sts:GetCallerIdentity]
                Resource: "*"
              # CloudTrail（再有効化のため）
              - Effect: Allow
                Action:
                  - cloudtrail:StartLogging
                  - cloudtrail:GetTrailStatus
                  - cloudtrail:DescribeTrails
                Resource: "*"

  # ── Step Functions IAM Role ─────────────────
  StateMachineRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-sfn-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: InvokeLambda
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action: lambda:InvokeFunction
                Resource:
                  - !GetAtt NotifierFunction.Arn
                  - !GetAtt RecheckFunction.Arn
                  - !GetAtt DeleterFunction.Arn

  # ── Lambda: Detector ───────────────────────
  DetectorFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-detector"
      CodeUri: lambda/detector/
      Handler: index.lambda_handler
      Timeout: 30
      Role: !GetAtt LambdaRole.Arn
      Environment:
        Variables:
          STATE_MACHINE_ARN: !Sub "arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:${AWS::StackName}-auto-delete"
      Events:
        AllCloudTrailEvents:
          Type: EventBridgeRule
          Properties:
            Pattern:
              detail-type: ["AWS API Call via CloudTrail"]

  # ── Lambda: Notifier ───────────────────────
  NotifierFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-notifier"
      CodeUri: lambda/notifier/
      Handler: index.lambda_handler
      Timeout: 30
      Role: !GetAtt LambdaRole.Arn
      Environment:
        Variables:
          SNS_TOPIC_ARN: !Ref AlertTopic
          DELETE_DELAY_SECONDS: !Ref DeleteDelaySeconds
          APPROVAL_BASE_URL: !Sub "https://${ApprovalApi}.execute-api.${AWS::Region}.amazonaws.com/prod"

  # ── Lambda: Isolator ───────────────────────
  IsolatorFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-isolator"
      CodeUri: lambda/isolator/
      Handler: index.lambda_handler
      Timeout: 60
      Role: !GetAtt LambdaRole.Arn
      Environment:
        Variables:
          DRY_RUN: !Ref DryRun
          QUARANTINE_SG_ID: !Ref QuarantineSecurityGroup

  # ── Lambda: Recheck ────────────────────────
  RecheckFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-recheck"
      CodeUri: lambda/recheck/
      Handler: index.lambda_handler
      Timeout: 30
      Role: !GetAtt LambdaRole.Arn
      Environment:
        Variables:
          RESTORER_FUNCTION_ARN: !GetAtt RestorerFunction.Arn

  # ── Lambda: Restorer ───────────────────────
  RestorerFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-restorer"
      CodeUri: lambda/restorer/
      Handler: index.lambda_handler
      Timeout: 60
      Role: !GetAtt LambdaRole.Arn
      Environment:
        Variables:
          DRY_RUN: !Ref DryRun

  # ── Lambda: Approver ───────────────────────
  ApproverFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-approver"
      CodeUri: lambda/approver/
      Handler: index.lambda_handler
      Timeout: 30
      Role: !GetAtt LambdaRole.Arn
      Environment:
        Variables:
          DELETER_FUNCTION_ARN: !GetAtt DeleterFunction.Arn
          STATE_MACHINE_ARN: !Ref AutoDeleteStateMachine

  # ── Lambda: Deleter ────────────────────────
  DeleterFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-deleter"
      CodeUri: lambda/deleter/
      Handler: index.lambda_handler
      Timeout: 60
      Role: !GetAtt LambdaRole.Arn
      Environment:
        Variables:
          DRY_RUN: !Ref DryRun

  # ── 全拒否セキュリティグループ ──────────────
  QuarantineSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupName: !Sub "${AWS::StackName}-quarantine"
      GroupDescription: "TagWatchman — 全通信拒否（隔離用）"
      VpcId: !Ref VpcId
      # インバウンド・アウトバウンドのルールなし = 全拒否

  # ── API Gateway（承認URL用）────────────────
  ApprovalApi:
    Type: AWS::Serverless::Api
    Properties:
      Name: !Sub "${AWS::StackName}-approval-api"
      StageName: prod

  ApproverFunctionPermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt ApproverFunction.Arn
      Action: lambda:InvokeFunction
      Principal: apigateway.amazonaws.com
      SourceArn: !Sub "arn:aws:execute-api:${AWS::Region}:${AWS::AccountId}:${ApprovalApi}/*/GET/approve"

  # ── Step Functions ─────────────────────────
  AutoDeleteStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub "${AWS::StackName}-auto-delete"
      RoleArn: !GetAtt StateMachineRole.Arn
      DefinitionSubstitutions:
        NotifierArn:  !GetAtt NotifierFunction.Arn
        IsolatorArn:  !GetAtt IsolatorFunction.Arn
        RecheckArn:   !GetAtt RecheckFunction.Arn
        WaitSeconds:  !Ref DeleteDelaySeconds
      Definition:
        Comment: "検知→隔離→通知→待機→再チェック→承認依頼"
        StartAt: Isolate
        States:
          Isolate:
            Type: Task
            Resource: "${IsolatorArn}"
            ResultPath: null
            Next: NotifyDetection
          NotifyDetection:
            Type: Task
            Resource: "${NotifierArn}"
            Parameters:
              mailType: "detection"
              arn.$: "$.arn"
              missingTags.$: "$.missingTags"
              requiredTags.$: "$.requiredTags"
              principal.$: "$.principal"
              region.$: "$.region"
              eventName.$: "$.eventName"
            ResultPath: null
            Next: Wait
          Wait:
            Type: Wait
            SecondsPath: "$.waitSeconds"
            Next: RecheckTags
          RecheckTags:
            Type: Task
            Resource: "${RecheckArn}"
            Next: ShouldDelete
          ShouldDelete:
            Type: Choice
            Choices:
              - Variable: "$.stillMissingTags"
                BooleanEquals: true
                Next: NotifyApproval
            Default: Cancelled
          NotifyApproval:
            Type: Task
            Resource: "${NotifierArn}"
            Parameters:
              mailType: "approval"
              arn.$: "$.arn"
              missingTags.$: "$.missingTags"
              requiredTags.$: "$.requiredTags"
              principal.$: "$.principal"
              region.$: "$.region"
              executionId.$: "$$.Execution.Name"
            ResultPath: null
            Next: WaitForApproval
          WaitForApproval:
            Type: Wait
            Seconds: 2592000
            Comment: "承認待機（最大30日）承認URLクリックで Approver Lambda が削除を実行"
            Next: Timeout
          Timeout:
            Type: Succeed
            Comment: "承認されないまま30日経過 — タイムアウト"
          Cancelled:
            Type: Succeed
            Comment: "タグが付与されたため隔離解除・削除キャンセル"

  # ── Lambda: CloudTrail Guardian ────────────
  # タグ関係なく即時発動する専用フロー
  # CloudTrailの無効化・削除・設定変更を監視する
  CloudTrailGuardianFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-cloudtrail-guardian"
      CodeUri: lambda/cloudtrail-guardian/
      Handler: index.lambda_handler
      Timeout: 30
      Role: !GetAtt LambdaRole.Arn
      Environment:
        Variables:
          SNS_TOPIC_ARN: !Ref AlertTopic
      Events:
        StopLogging:
          Type: EventBridgeRule
          Properties:
            Pattern:
              source: ["aws.cloudtrail"]
              detail-type: ["AWS API Call via CloudTrail"]
              detail:
                eventName:
                  - StopLogging
                  - DeleteTrail
                  - UpdateTrail
                  - PutEventSelectors

# ─────────────────────────────────────────────
# 出力
# ─────────────────────────────────────────────
Outputs:
  StateMachineArn:
    Value: !Ref AutoDeleteStateMachine
  SnsTopicArn:
    Value: !Ref AlertTopic
  DetectorFunctionArn:
    Value: !GetAtt DetectorFunction.Arn
  CloudTrailGuardianFunctionArn:
    Value: !GetAtt CloudTrailGuardianFunction.Arn
